@charset "utf-8";
html{
	font: 12px "宋体";
}
.top{
	height: 26px;
	background-color: #f7f7f7;
	border-bottom: 1px solid #efefef;
}
.top_page{
	width: 970px;
	height: 26px;
	margin: 0 auto;
}
.top_page_left{
	line-height: 26px;
}
.top_page_right{
	line-height: 26px;
}
a{
	color: #000;
}
.top_page_right ul li{
	float: left;
	padding-right: 10px;
}
.top_page_right ul li s{
	width: 14px;
	height: 12px;
	background: url(../image/sprite.png);
	display: inline-block;
	vertical-align: middle;
}

.logo{
	width: 970px;
	height: 98px;
	margin: 0 auto;
	
}
.logo_left{
	width: 200px;
	height: 55px;
	margin-top: 24px;
	margin-left: 10px;
	background:url(../image/sprite.png) -20px 0px;
	text-indent: -1000em;
}
.logo_right{
	width: 530px;
	height: 42px;
	margin-top: 29px;
	border: 1px solid #c9c9c9;
}
.logo_right_serch{
	width: 418px;
	height: 28px;
	border: 1px solid #c9c9c9;
	color: #999999;
}
.logo_right_btn{
	width: 99px;
	height: 30px;
	background-color: #2f70d0;
	color: white;
}
.logo_right_content{
	margin: 5px 5px 5px 4px;
}
.nav{
	width: 970px;
	margin: 0 auto;
	height: 25px;
	border-bottom: 2px solid #0266A3;
}
.nav li{
	float: left;
	padding: 0 15px 0 15px;
	line-height: 25px;
	font-size: 14px;
	font-weight: bold;
}
.nav li a{
	color: #0266A3;
}
.nav li:hover{
	background-color: #0266A3;
}
.nav li:hover a{
	color: white;
}

.banner{
	width: 970px;
	height: 210px;
	margin: 10px auto;
}
.banner .subNav{
	width: 200px;
	height: 210px;
	margin-right: 11px;
}
.banner .ad{
	width: 520px;
	height: 210px;
	background-color: gray;
}
.banner .message{
	width: 230px;
	height: 210px;
}
.subNav{
	background-color: #ebf0f6;
}
.subNav h2{
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
	background-color: #0266A3;
	color: white;
	padding-left: 20px;
}
.banner .subNav s{
	background: url(../image/sprite.png) -225px 0px;
	display: inline-block;
	width: 15px;
	height: 13px;
	vertical-align: top;
}
.subNav li{
	font-size: 15px;
	padding-top: 11px;
	margin-left: 9px;
	
}
.subNav li a{
	padding-left:15px ;
}
.message_top{
	height: 93px;
	width: 228px;
	border: 1px solid #e0e6f0;
	background-color: #f7faff;
}
.message_bottom{
	width: 230px;
	height: 92px;
	background-color: #f7f7f7;
	margin-top: 21px;
}
.message_top s{
	background: url(../image/sprite.png) -250px 0px ;
	width: 40px;
	height: 40px;
	display: inline-block;
	margin: 10px 10px 14px 10px;
}
.top_p{
	height: 28px;
	padding-left: 18px;
	line-height: 28px;
}
.top_p p{
	font-size: 14px;
	font-weight: bold;
}
.message_top .cheap{
	margin-top: 15px;
}
.message_bottom .bottom_t{
	height: 38px;
	text-align: center;
	line-height: 38px;
	font-size: 14px;
	color: #9f9f9f;
}
/*.message_bottom .bottom_c{
	height: 24px;
}*/
.message_bottom .bottom_c s{
	background: url(../image/sprite.png) -225px -30px;
	display: inline-block;
	width:14px ;
	height: 17px;
	margin-left: 35px;
}
.message_bottom .bottom_c p{
	font-size: 16px;
	font-weight: bold;
	color: #51a5e3;
	line-height: 17px;
	margin-left: 7px;
	letter-spacing: 1px;
}
.bottom_b .btn{
	margin-left: 75px;
	margin-top: 7px;
	background: url(../image/sprite.png) -295px 0px;
	width: 81px;
	height: 23px;
	
}

.material{
	height: 34px;
	width: 970px;
	border-top: 2px solid #c3d7e4;
	margin: 14px auto;
	background-color: #ecf1f7;
	line-height: 34px;
	text-indent: 22px;
	font-size: 14px;
	font-weight: bold;
}
.product{
	width: 970px;
	height: 346px;
	margin: 11px auto;
}
.product .product_left{
	width: 727px;
	height: 344px;
	border: 1px solid #c3d7e4;
}
.product .product_right{
	height: 344px;
	width: 228px;
	border: 1px solid #c3d7e4;
}
.product_left_top{
	padding-top:14px;
	padding-left: 26px;
}
.product .product_left_top{
	height: 172px;

}
.product_left_top_product2{
	width: 350px;
	height: 143px;
}
.product_left_top_product1{
	width: 351px;
	height: 143px;
}
.buy{
	width: 99px;
	height: 143px;
}
.info{
	width: 252px;
	height: 143px;
}
.pic{
	
	width: 97px;
	height: 100px;
	border: 1px solid #c3d7e4;
}
.pic_p{
	background: url(../image/sprite.png) 0px -70px;
	width: 99px;
	height: 62px;
	display: inline-block;
	margin-top: 18px;
	margin-left: 3px;
}
.buy_btn{
	margin-top: 15px;
	height: 26px;
	width: 99px;
	background-color: #0a84e3;
	color: white;
	line-height: 26px;
	text-align: center;
	cursor: pointer;
}
.good{
	font-size: 14px;
	padding: 10px 0 0 10px;
}
.safe{
	padding: 14px 0 0 15px;
	color: #863e01;
}
.money{
	padding: 20px 0 4px 11px;
}
.money span{
	color: red;
	font-size: 14px;
	font-weight: bold;
}
.money s{
	text-decoration: line-through;
}
.info .times{
	margin: 20px 0 0 10px;
}
.product_right_body{
	width: 228px;
	height: 315px;
}
.product_right_top{
	height: 28px;
	border-bottom: 1px solid #c3d7e4;
	background-color: #fafafb;
	text-indent: 15px;
	line-height: 28px;
	font-size: 14px;
}
.product_right_body ul li{
	height: 24px;
	line-height: 24px;
}
.product_right_body ul{
	margin-top: 11px;
	list-style: circle;
	margin-left: 25px;
}
.product_right_body ul li a{
	letter-spacing: 3px;
}

.linkline{
	width: 970px;
	border-top: 3px solid #0A84E3;
	margin: 10px auto;
}
.aboutme{
	width: 970px;
	height: 91px;
	margin: 0 auto;
}
.aboutme p{
	margin: 30px auto;
	text-align: center;
}
